node_modules
angular.json
.angular/cache/17.3.0/gotem-dapp/.tsbuildinfo
.angular/cache/17.3.0/vite/deps/_metadata.json
.angular/cache/17.3.0/vite/deps/@polkadot_api.js
.angular/cache/17.3.0/vite/deps/chunk-35P5ZQ5G.js
.angular/cache/17.3.0/vite/deps/chunk-35P5ZQ5G.js.map
.angular/cache/17.3.0/vite/deps/chunk-NGLC6BQQ.js
.angular/cache/17.3.0/vite/deps/chunk-NGLC6BQQ.js.map
.angular/cache/17.3.0/vite/deps/polkadot-angular-identicon.js
.angular/cache/17.3.0/vite/deps/primeng_confirmdialog.js
.angular/cache/17.3.0/vite/deps/primeng_dialog.js
.angular/cache/17.3.0/vite/deps/primeng_dropdown.js
.angular/cache/17.3.0/vite/deps/primeng_fileupload.js
.angular/cache/17.3.0/vite/deps/primeng_menu.js
.angular/cache/17.3.0/vite/deps/primeng_panel.js
.angular/cache/17.3.0/vite/deps/primeng_table.js
.angular/cache/17.3.0/vite/deps/primeng_toast.js
