<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-briefcase" style="font-size: 1.3rem;"></i>&nbsp;Case Detail</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid" style="margin: -5px;">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded" (click)="updateCaseExtrinsic()">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>
<div class="w-full mb-3">
    <div *ngIf="isLoading">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </div>
    <div class="grid" *ngIf="!isLoading">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Case Number:&nbsp;&nbsp;{{padZeroes(caseDetail.caseId, 10)}}">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Title</label>
                                <input pInputText id="" [(ngModel)]="caseDetail.title" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Category:</label>
                                <p-dropdown [options]="categories" [(ngModel)]="caseDetail.category"
                                    placeholder="Select Category" [styleClass]="'w-full'"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Owner</label>
                                <input pInputText id="" [(ngModel)]="caseDetail.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Description:</label>
                                <textarea rows="5" cols="30" pInputTextarea class="w-full"
                                    [(ngModel)]="caseDetail.description"></textarea>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6 mt-2">
                            <p-chip label="{{caseDetail.status}}" icon="pi pi-info-circle"></p-chip>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6"></div>
                    </div>
                </p-panel>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Upload">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <p-fileUpload [showUploadButton]="false" [showCancelButton]="false" [disabled]="true"
                                    name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true"
                                    accept="image/*">
                                    <ng-template pTemplate="content">

                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>
<div class="w-full mb-3" *ngIf="!isLoading">
    <p-panel header="Evidences">
        <div class="card">
            <p-table [paginator]="true" [rows]="10"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 50, 100]" styleClass="p-datatable-striped"
                [value]="evidences" [responsive]="true" [tableStyle]="{ 'min-width': '10rem' }">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="min-width: 100px;">View</th>
                        <th style="min-width: 150px;">
                            <div class="flex align-items-center">
                                Evidence No. &nbsp;
                                <p-columnFilter type="text" field="evidenceId" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 200px;">
                            <div class="flex align-items-center">
                                Description &nbsp;
                                <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 200px;">
                            <div class="flex align-items-center">
                                Owner &nbsp;
                                <p-columnFilter type="text" field="owner" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-evidence let-columns="columns">
                    <tr>
                        <td>
                            <button type="button" pButton class="p-button p-button-rounded p-button-sm"
                                (click)="viewEvidenceDetail(evidence)">
                                <i class="pi pi-fw pi-eye"></i> View
                            </button>
                        </td>
                        <td><span class="p-column-title">Evidence No.</span>{{padZeroes(evidence.evidenceId, 10)}}</td>
                        <td><span class="p-column-title">Description</span>{{evidence.description}}</td>
                        <td><span class="p-column-title">Owner</span>{{evidence.owner}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</div>
<div class="w-full" *ngIf="!isLoading">
    <p-panel header="Danger Zone">
        <button type="button" pButton class="p-button p-button-danger p-button-rounded" (click)="burnCaseExtrinsic()">
            Burn this Case
        </button>
    </p-panel>
</div>

<p-dialog [(visible)]="showProcessModal" [style]="{width: '60vw'}" [modal]="true" [closable]="false"
    [draggable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="executionExtrinsicsStatus == undefined">
            <p-progressSpinner></p-progressSpinner>
            <div class="w-full mt-3" style="white-space: pre-wrap;">
                Processing
            </div>
        </div>
        <div *ngIf="executionExtrinsicsStatus != undefined">
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == false">
                <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            </div>
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == true">
                <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            </div>
            <div class="w-full mb-3" style="white-space: pre-wrap;">
                {{executionExtrinsicsStatus.message}}
            </div>
            <button pButton type="button" label="Okay" class="p-button"
                (click)="showProcessModal = false; executionExtrinsicsStatus = undefined;"></button>
        </div>
    </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>