<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-briefcase" style="font-size: 1.3rem;"></i>&nbsp;Case Detail</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<!-- <div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="text-lg">
                <b>Case Number:</b>&nbsp;{{caseDetail.caseId}}
            </div>
        </div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div> -->
<div class="w-full mb-3">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Case Number:&nbsp;&nbsp;{{caseDetail.caseId}}">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Title</label>
                                <input pInputText id="" [(ngModel)]="caseDetail.title" [readonly]="true" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Category:</label>
                                <p-dropdown [options]="categories" [(ngModel)]="caseDetail.category"
                                    placeholder="Select Category" [styleClass]="'w-full'"
                                    [readonly]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Owner</label>
                                <input pInputText id="" [(ngModel)]="caseDetail.owner" [readonly]="true" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Description:</label>
                                <textarea rows="5" cols="30" pInputTextarea class="w-full"
                                    [(ngModel)]="caseDetail.description" [readonly]="true"></textarea>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6 mt-2">
                            <p-chip label="{{caseDetail.status}}" icon="pi pi-info-circle"></p-chip>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6"></div>
                    </div>
                </p-panel>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Upload">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <p-fileUpload [showUploadButton]="false" [showCancelButton]="false" [disabled]="true"
                                    name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true"
                                    accept="image/*">
                                    <ng-template pTemplate="content">

                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>
<div class="w-full mb-3">
    <p-panel header="Evidences">
        <div class="card">
            <p-table styleClass="p-datatable-striped" [value]="evidences" [responsive]="true"
                [tableStyle]="{ 'min-width': '10rem' }">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>View</th>
                        <th>Evidence No.</th>
                        <th>Description</th>
                        <th>Owner</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-evidence let-columns="columns">
                    <tr>
                        <td>
                            <button type="button" pButton class="p-button p-button-rounded p-button-sm"
                                (click)="viewEvidenceDetail(evidence)">
                                <i class="pi pi-fw pi-eye"></i> View
                            </button>
                        </td>
                        <td><span class="p-column-title">Evidence No.</span>{{evidence.evidenceId}}</td>
                        <td><span class="p-column-title">Description</span>{{evidence.description}}</td>
                        <td><span class="p-column-title">Owner</span>{{evidence.owner}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</div>