<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-check-square" style="font-size: 1.3rem;"></i>&nbsp;Vote</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-search"></i>
                        <input pInputText placeholder="Case" class="w-full" />
                    </span>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-search"></i>
                        <input pInputText placeholder="Keywords" class="w-full" />
                    </span>
                </div>
            </div>
        </div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded" (click)="openNewVoterModal()">
                        New Voter
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>
<div class="w-full mb-3">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Voters">
                <div class="card">
                    <p-table styleClass="p-datatable-striped" [value]="voters" [responsive]="true"
                        [tableStyle]="{ 'min-width': '10rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>View</th>
                                <th>Voter</th>
                                <th>Vote Credit</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-voter>
                            <tr>
                                <td>
                                    <button type="button" pButton class="p-button p-button-rounded p-button-sm"
                                        (click)="viewVoterDetail(voter)">
                                        <i class="pi pi-fw pi-eye"></i> View
                                    </button>
                                </td>
                                <td><span class="p-column-title">Voter</span>{{voter.voter}}</td>
                                <td>
                                    <span class="p-column-title">Vote Credit</span>
                                    {{decimalPipe.transform(voter.voteCredit) || "0"}}
                                </td>
                                <td><span class="p-column-title">Status</span>-</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>
<br />
<br />
<div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded" (click)="openNewVoteModal()">
                        New Vote
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>
<div class="w-full mb-3">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Votes">
                <div class="card">
                    <p-table styleClass="p-datatable-striped" [value]="votes" [responsive]="true"
                        [tableStyle]="{ 'min-width': '10rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>View</th>
                                <th>Vote No.</th>
                                <th>Voter</th>
                                <th>Votes</th>
                                <th>Evidence No.</th>
                                <th>Evidence</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-vote>
                            <tr>
                                <td>
                                    <button type="button" pButton class="p-button p-button-rounded p-button-sm"
                                        (click)="viewVoteDetail(vote)">
                                        <i class="pi pi-fw pi-eye"></i> View
                                    </button>
                                </td>
                                <td><span class="p-column-title">Vote No.</span>{{vote.voteId}}</td>
                                <td><span class="p-column-title">Voter</span>{{vote.voter}}</td>
                                <td>
                                    <span class="p-column-title">Votes</span>
                                    {{vote.yesCredit}} || {{vote.noCredit}}
                                </td>
                                <td><span class="p-column-title">Evidence No.</span>{{vote.evidenceId}}</td>
                                <td><span class="p-column-title">Evidence</span>-</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>

<p-dialog header="Voter" [(visible)]="showNewVoterModal" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false"
    [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="w-full">
                <p-panel header="Details">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Number:</label>
                                <input pInputText id="" [(ngModel)]="voter.caseId" [readonly]="voter.voterId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Voter:</label>
                                <input pInputText id="" [(ngModel)]="voter.voter" [readonly]="voter.voterId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Amount Hold</label>
                                <input pInputText id="" [(ngModel)]="voter.amountHold" [readonly]="voter.voterId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Vote Credit</label>
                                <input pInputText id="" [(ngModel)]="voter.voteCredit" [readonly]="voter.voterId > 0" />
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="voter.voterId == 0" pButton class="p-button p-button-rounded w-full" [disabled]="isProcessing"
            (click)="setVoterExtrinsic()">
            <div class="w-full text-center">
                Create
            </div>
        </button>
    </ng-template>
</p-dialog>

<p-dialog header="Vote" [(visible)]="showNewVoteModal" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false"
    [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="w-full">
                <p-panel header="Details">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Number:</label>
                                <input pInputText id="" [(ngModel)]="vote.caseId" [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Evidence Number:</label>
                                <input pInputText id="" [(ngModel)]="vote.evidenceId" [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Voter:</label>
                                <input pInputText id="" [(ngModel)]="vote.voter" [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Yes Credit</label>
                                <input pInputText id="" [(ngModel)]="vote.yesCredit" [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">No Credit</label>
                                <input pInputText id="" [(ngModel)]="vote.noCredit" [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Distributed Rewards</label>
                                <input pInputText id="" [(ngModel)]="vote.destributionReward"
                                    [readonly]="vote.voteId > 0" />
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="vote.voteId == 0" pButton class="p-button p-button-rounded w-full" [disabled]="isProcessing"
            (click)="setVoteExtrinsic()">
            <div class="w-full text-center">
                Create
            </div>
        </button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showProcessModal" [style]="{width: '60vw'}" [modal]="true" [closable]="false"
    [draggable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="executionExtrinsicsStatus == undefined">
            <p-progressSpinner></p-progressSpinner>
            <div class="w-full mt-3" style="white-space: pre-wrap;">
                Processing
            </div>
        </div>
        <div *ngIf="executionExtrinsicsStatus != undefined">
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == false">
                <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            </div>
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == true">
                <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            </div>
            <div class="w-full mb-3" style="white-space: pre-wrap;">
                {{executionExtrinsicsStatus.message}}
            </div>
            <button pButton type="button" label="Okay" class="p-button"
                (click)="showProcessModal = false; executionExtrinsicsStatus = undefined;"></button>
        </div>
    </div>
</p-dialog>

<p-toast></p-toast>