<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-folder-open" style="font-size: 1.3rem;"></i>&nbsp;Evidence Detail</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid" style="margin: -5px;">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded" (click)="updateEvidenceExtrinsic()">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>
<div class="w-full mb-3">
    <div *ngIf="isLoading">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </div>
    <div class="grid" *ngIf="!isLoading">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Evidence Number:&nbsp;&nbsp;{{padZeroes(evidenceDetail.evidenceId, 10)}}">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Number:</label>
                                <input pInputText id="" [(ngModel)]="caseNumber" [readonly]="true" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Case Title</label>
                                <input pInputText id="" [(ngModel)]="evidenceDetail.caseTitle" [readonly]="true" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Owner:</label>
                                <input pInputText id="" [(ngModel)]="evidenceDetail.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <label for="">Description:</label>
                                <textarea rows="5" cols="30" pInputTextarea class="w-full"
                                    [(ngModel)]="evidenceDetail.description"></textarea>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6 mt-2">
                            <p-chip label="{{evidenceDetail.status}}" icon="pi pi-info-circle"></p-chip>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6"></div>
                    </div>
                </p-panel>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full mb-3">
                <p-panel header="Upload">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <p-fileUpload [showUploadButton]="false" [showCancelButton]="false" [disabled]="true"
                                    name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true"
                                    accept="image/*">
                                    <ng-template pTemplate="content">

                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="w-full">
                <p-panel header="Results">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Total Vote Result:</label>
                                <input pInputText id="" [readonly]="true" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Total Distribution Result:</label>
                                <input pInputText id="" [readonly]="true" />
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>
<div class="w-full mb-3" *ngIf="!isLoading">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Voters">
                <div class="card">
                    <p-table [paginator]="true" [rows]="10"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 50, 100]"
                        styleClass="p-datatable-striped" [value]="votes" [responsive]="true"
                        [tableStyle]="{ 'min-width': '10rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Vote Credit</th>
                                <th>Vote Result</th>
                                <th>Distribution Result</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-vote>
                            <tr>
                                <td>
                                    <span class="p-column-title">Vote Credit</span>
                                    {{decimalPipe.transform(vote.yesCredit) || "0"}}
                                </td>
                                <td><span class="p-column-title">Vote Result</span>-</td>
                                <td><span class="p-column-title">Distribution Result</span>{{vote.destributionReward}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>
<div class="w-full" *ngIf="!isLoading">
    <p-panel header="Danger Zone">
        <button type="button" pButton class="p-button p-button-danger p-button-rounded"
            (click)="burnEvidenceExtrinsic()">
            Burn this Evidence
        </button>
    </p-panel>
</div>

<p-dialog [(visible)]="showProcessModal" [style]="{width: '60vw'}" [modal]="true" [closable]="false"
    [draggable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="executionExtrinsicsStatus == undefined">
            <p-progressSpinner></p-progressSpinner>
            <div class="w-full mt-3" style="white-space: pre-wrap;">
                Processing
            </div>
        </div>
        <div *ngIf="executionExtrinsicsStatus != undefined">
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == false">
                <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            </div>
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == true">
                <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            </div>
            <div class="w-full mb-3" style="white-space: pre-wrap;">
                {{executionExtrinsicsStatus.message}}
            </div>
            <button pButton type="button" label="Okay" class="p-button"
                (click)="showProcessModal = false; executionExtrinsicsStatus = undefined;"></button>
        </div>
    </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>