<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-folder-open" style="font-size: 1.3rem;"></i>&nbsp;Investigators</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="grid" style="margin: -5px;">
                <div class="col-12 md:col-6 lg:col-12">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-search"></i>
                        <input pInputText placeholder="Search" class="w-full" />
                    </span>
                </div>
            </div>
        </div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="grid" style="margin: -5px;">
                <div class="col-12 md:col-12 lg:col-12">
                    <button type="button" pButton class="p-button p-button-rounded" (click)="openNewInvestigatorModal()">
                        New Investigator
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>

<p-dialog header="New Investigator" [(visible)]="showNewInvestigatorModal" [modal]="true" [style]="{ width: '80vw' }"
    [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full">
                <p-panel header="Details">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-12">
                            <div class="flex flex-column gap-1">
                                <label for="">Profile Name</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">First Name</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Last Name</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-12">
                            <div class="flex flex-column gap-1">
                                <label for="">Address</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Email</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner" />
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <div class="flex flex-column gap-2">
                                <label for="">Re-type Email</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner"/>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-12">
                            <div class="flex flex-column gap-1">
                                <label for="">Wallet Public Address</label>
                                <input pInputText id="" [(ngModel)]="newInvestigator.owner" />
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="w-full mb-3">
                <p-panel header="Upload Credentials">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                                    [multiple]="true" accept="image/*">
                                    <ng-template pTemplate="content">

                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </p-panel>
                <p-panel header="Upload Profile Picture">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="flex flex-column gap-2">
                                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                                    [multiple]="true" accept="image/*">
                                    <ng-template pTemplate="content">

                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
     <ng-template pTemplate="footer">
        <button pButton class="p-button p-button-rounded" [disabled]="isProcessing"
            (click)="setEvidenceExtrinsic()">
            <div style="text-align: left;">
                Create
            </div>
        </button>
    </ng-template>
</p-dialog>